body{
	font-family: 'Bodoni Moda', serif;
}

.container, .create, .remove{
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	width: 450px;
	margin: 4px auto;
	border:2px solid #fff;
	box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.2);
}

input, button {
	width: 200px;
	margin: 10px auto;
}

input:focus{
	border: 2px solid rgb( 255, 255, 255 );
    outline: 2px solid rgb( 255, 211, 95 );
}

h1, #lists {
	margin: 0 auto;
	text-align: center;
}

#lists{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
}

.border {
	height: 25px;
	display: inline;
	border:1px solid rgb( 0, 0, 0 );
	padding: 5px;
}

#createdBtn, #removeBtnVal, #removeBtnId, #removeBtnLast{
border-radius: 4px;
box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.08);
color: #fff;
display:block;
width:150px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 14px;
padding: 8px 10px;
margin: 5px auto;
text-decoration: none;
text-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
transition: background-color 0.1s linear;        
}

#createdBtn{
background-color: rgb( 80, 200, 120 );
transition: background-color 0.1s linear;   
}

#createdBtn:hover{
background-color: rgb( 152, 251, 152 );
}

#removeBtnVal, #removeBtnId, #removeBtnLast{
background-color: rgb( 196, 30, 58 );
transition: background-color 0.1s linear;        
}

#removeBtnVal:hover,#removeBtnId:hover, #removeBtnLast:hover{
background-color: rgb( 254, 155, 124 );
}

.temp{
	background-color: rgb( 125, 249, 255 );
}

.next{
	background-color: rgb( 178, 248, 250 );
}